<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.times.shenawynkov.timestablelearnning">

    <application
            android:allowBackup="true"
            android:icon="@drawable/rocket"
            android:label="@string/app_name"
            android:roundIcon="@drawable/rocket"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".TimeAcivity">
        </activity>
        <activity android:name=".ChooseActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NormalActivity">
        </activity>
        <activity android:name=".GraphActivity">
        </activity>
    </application>

</manifest>